.conts{width: 644px;}

#gnb_mobile { display: block; width: 100%; height: 60px; background: #fff; position: fixed; z-index: 999; padding: 0 20px; box-sizing: border-box; } 

#gnb_mobile>ul>li:nth-child(1) { float: left; padding-top: 20px; } 
#gnb_mobile>ul>li:nth-child(2) {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: inline-block;} 
#gnb_mobile>ul>li:nth-child(2) a{font-size: 21px;}
#gnb_mobile>ul>li:nth-child(3) {float: right; padding-top: 13px;}
#gnb_mobile>ul>li:nth-child(3) a{font-size: 20px;}

.mobile_nav { display: none; background: rgba(0, 0, 0, 0.8); width: 100%; position: absolute; top: 60px; left: 0; text-align: center; } 
.mobile_nav li { border-bottom: 1px solid #ccc; padding: 20px 0 20px 10px; } 
.mobile_nav li a { color: white; font-size: 15px; transition: .3s; } 
.mobile_nav li a:hover { color: rgb(245, 212, 122); text-decoration: underline; } 


.appBtn { width: 26px; height: 16px; display: block; position: relative; } 
.appBtn i { width: 100%; height: 2px; background: #555; position: absolute; top: 0; left: 0; } 
.appBtn i.bar1 { top: 0; transition: all .3s; transform: rotate(0deg) } 
.appBtn i.bar1.addAppbar { transform: rotate(45deg); top: 50%; margin-top: -1px; } 
.appBtn i.bar2 { top: 50%; transition: all .3s; opacity: 1; } 
.appBtn i.bar2.addAppbar { opacity: 0; } 
.appBtn i.bar3 { top: 100%; transition: all .3s; transform: rotate(0deg) } 
.appBtn i.bar3.addAppbar { transform: rotate(-45deg); top: 50%; margin-top: -1px; } 




#gnb_pc { display: none; } 


/*이미지 사이즈 체인지*/
#nav_con .nav1 .nav1_con img.pc{display: none;}
#nav_con .nav1 .nav1_con img.tablet{display: block;}

#nav_con .nav2 .nav2_con img.pc{display: none;}
#nav_con .nav2 .nav2_con img.tablet{display: block;}

#nav_con .nav3 .nav3_con img.pc{display: none;}
#nav_con .nav3 .nav3_con img.tablet{display: block;}

.swiper-slide a img.pc{display: none;}
.swiper-slide a img.tablet{display: block;}


