#nav{width: 100%;}
#nav > li{margin: 0 3.1%;}
#nav > li > .width100 ul li{width: 115px; padding-left: 12px;}

#wrap{width: 100%;}
#footer .footer_menu{width: 100%; box-sizing: border-box;}

/*video*/
#content video {width:100%; height:auto;  margin-left:0; margin-top:0px;}

/*이미지 사이즈 체인지*/
#nav_con .nav1 .nav1_con img.pc{display: none;}
#nav_con .nav1 .nav1_con img.tablet{display: block;}

#nav_con .nav2 .nav2_con img.pc{display: none;}
#nav_con .nav2 .nav2_con img.tablet{display: block;}

#nav_con .nav3 .nav3_con img.pc{display: none;}
#nav_con .nav3 .nav3_con img.tablet{display: block;}

.swiper-slide a img.pc{display: none;}
.swiper-slide a img.tablet{display: block;}


